
.logo a{
    font-size: 60px;
    text-decoration: none;
    color: #971b1b;
    font-weight: 500;
}
ul>li {
    display :inline-block;
    text-transformation : uppercase;
    padding: 15px;
    position: relative;
    left: 50%;
    font-size: 30px;
     display: inline;
}
ul>li>a {
       color :rgba(223, 33, 33, 0.733);
       display:inline;
       padding: 10px 30px;
       
}
ul>li>a:hover {
    box-shadow :0 0 0 0.625em rgba(192, 10, 10, 0.1), insert 0 0 0.625em rgba(255, 255, 255, 0.6) ;
     background-color: #6880e4ad;
     color : rgba(16, 29, 65, 0.7);
}
header .logo a{
    font-size: 60px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}   
.logo a span{
    color: #a01422;
    font-size: 40px;
    text-decoration: none;
    font-weight: 500;
}
.home{
    height: 60vh;
    background-image: url("./img/Fitness_project/img_fitness/slider_01.jpg")
    height: 250px;
    width :auto;
    background-repeat:no-repeat ;
    background-size: cover;
    padding: 15px;
}
}
.home h1 span{
    color: #4d1117;
}
.header .home .container .images{
    display:inline;
    position: relative;
}
.finman{
    left:99%;

}